/* Base */
/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  /* Color */
  --blackpure: #000;
  --black: #181818;
  --black-border: #26292d;
  --grey-border: #969696;
  --dark-grey: #1f1f1f;
  --grey: #505050;
  --white: #eee9e1;
  --white-text: #bfbbb6;
  --purple: #a196df;
  --yellowgreen: #90d491;
  --background-transparent: #000000cc;
  --text-color: var(--black);
  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);
  --accent2: var(--yellowgreen);
  /* Font-size */
  --font-size-title-headline: 4.2rem;
  --font-size-h1: 3.6rem;
  --font-size-h2: 2.6rem;
  --font-size-h3: 1.8rem;
  --font-size-h4: 1.4rem;
  --font-size-text-big: 1.2rem;
  --font-size-text-normal: 1rem;
  --font-size-text-small: 0.9rem;
  /* Font-weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  /* Font-family */
  --font-dm-sans: "DM Sans", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-hanson: "Hanson", sans-serif;
  --font-founders: "FoundersGrotesk", sans-serif;
  /* Border-radius */
  --border-radius-button: 5px;
  --border-radius-card: 10px;
  /* Light mode */
  --title-color: var(--grey);
  --page-bg: var(--white);
  --text-color: var(--grey);
  --title-1: var(--purple);
  --project-card-bg: var(--white);
  --project-card-text: var(--black);
  --box-shadow: 0px 5px 35px #00000040;
  /* Header-animation */
  --top-size-small-1: -90px;
  --top-size-small-2: -180px;
  --top-size-big-1: -150px;
  --top-size-big-2: -300px;
  --header-top-size-1: var(--top-size-big-1);
  --header-top-size-2: var(--top-size-big-2);
}
@media (max-width: 620px) {
  :root {
    --header-top-size-1: var(--top-size-small-1);
    --header-top-size-2: var(--top-size-small-2);
  }
}

.dark {
  /* Dark mode */
  --title-color: var(--white);
  --page-bg: var(--black);
  --text-color: var(--white-text);
  --title-1: var(--yellowgreen);
  --project-card-bg: var(--blackpure);
  --project-card-text: var(--white);
}

/* Mixin Header */
html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  letter-spacing: -0.5px;
  color: var(--text-color);
  text-transform: uppercase;
  font-family: var(--font-founders), sans-serif;
}

body {
  background-color: var(--page-bg);
}

.section {
  padding: 100px 0;
}
@media (max-width: 620px) {
  .section {
    padding: 40px 0;
  }
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: var(--text-color);
}

.none {
  display: none !important;
}

.title-1,
.title-2,
.title-3,
.title-4 {
  font-family: var(--font-hanson);
  color: var(--title-color);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  line-height: 1.3;
}

.title-1 {
  font-size: var(--font-size-h1);
  text-align: start;
  margin-bottom: 60px;
}
@media (max-width: 1200px) {
  .title-1 {
    text-align: center;
  }
}
@media (max-width: 960px) {
  .title-1 {
    font-size: var(--font-size-h2);
    padding: 0 20px;
  }
}

.title-2 {
  font-size: var(--font-size-h2);
  margin-bottom: 30px;
}
@media (max-width: 960px) {
  .title-2 {
    font-size: var(--font-size-h3);
    padding: 0 20px;
  }
}
@media (max-width: 620px) {
  .title-2 {
    font-size: var(--font-size-h4);
  }
}

.title-3 {
  font-size: var(--font-size-h3);
  margin-bottom: 20px;
}
@media (max-width: 960px) {
  .title-3 {
    font-size: var(--font-size-h4);
  }
}

.title-4 {
  font-size: var(--font-size-h4);
  margin-bottom: 20px;
}

/* Components */
@font-face {
  font-family: "Hanson";
  src: url("../fonts/Hanson-Bold.woff2") format("woff2"), url("../fonts/Hanson-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "FoundersGrotesk";
  src: url("../fonts/FoundersGrotesk-Regular.woff2") format("woff2"), url("../fonts/FoundersGrotesk-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.button {
  display: inline-block;
  padding: 16px 28px 8px 28px;
  background-color: var(--white);
  color: var(--dark-bg);
  border-radius: 30px;
  letter-spacing: 0.15px;
  font-size: var(--font-size-small);
  text-align: center;
  cursor: pointer;
  text-transform: none;
  transition: color 0.7s, text-shadow 0.7s;
  /* Hover */
  --height: 40px;
  --progress: 0px;
  color: transparent;
  overflow: hidden;
  text-shadow: 0 calc(var(--progress) * -1) #000000, 0 calc(var(--height) - var(--progress)) rgb(0, 0, 0);
}
.button:hover {
  --progress: var(--height);
}
.button:active {
  position: relative;
  top: 1px;
}
.button--github, .button--link {
  text-transform: uppercase;
}
.button--github i, .button--link i {
  margin-left: 5px;
  font-size: 1.1rem;
}
.button--github {
  background-color: var(--accent2);
}
.button--link {
  background-color: var(--accent);
}
@media (max-width: 960px) {
  .button {
    font-size: var(--font-size-normal);
  }
}
@media (max-width: 620px) {
  .button {
    font-size: var(--font-size-normal);
  }
}
@media (max-width: 620px) {
  .button {
    width: 100%;
  }
}

/* Dark mode button */
.dark-mode-btn {
  order: 9;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 51px;
  height: 26px;
  padding: 5px;
  border-radius: 50px;
  background-color: #272727;
}
@media (max-width: 960px) {
  .dark-mode-btn {
    order: 0;
    margin-right: 10px;
    margin-left: auto;
  }
}
.dark-mode-btn::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--white);
  transition: left 0.2s ease-in;
}
.dark-mode-btn--active::before {
  left: 26px;
}
.dark-mode-btn__icon {
  position: relative;
  z-index: 9;
}

/* Quelle ist Codepen */
.marquee {
  --gap: 5rem;
  position: relative;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  gap: var(--gap);
}

.marquee__content {
  color: var(--text-color);
  font-family: var(--font-founders);
  font-size: var(--font-size-h2);
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

.marquee-title {
  text-align: center;
}

.marquee-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  margin-bottom: 50apx;
}
@media (max-width: 620px) {
  .marquee-container {
    row-gap: 20px;
  }
}

.marquee-container__item {
  width: 100%;
}
.marquee-container__item p + p {
  margin-top: 0.5em;
}
.marquee-container__item a {
  color: var(--text-color);
}
@media (max-width: 620px) {
  .marquee-container__item {
    font-size: 1rem;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
@media (prefers-reduced-motion: reduce) {
  .marquee__content {
    animation-play-state: paused !important;
  }
}
/* Enable animation */
.enable-animation .marquee__content {
  animation: scroll 50s linear infinite;
}

.marquee--reverse .marquee__content {
  animation-direction: reverse;
}

.marquee--fit-content {
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.marquee--pos-absolute .marquee__content:last-child {
  position: absolute;
  top: 0;
  left: 0;
}

.enable-animation .marquee--pos-absolute .marquee__content:last-child {
  animation-name: scroll-abs;
}

/* header Animation */
@keyframes animation {
  0%, 100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: var(--header-top-size-1);
  }
  45% {
    top: var(--header-top-size-1);
  }
  50% {
    top: 0;
  }
  70% {
    top: 0;
  }
  75% {
    top: var(--header-top-size-1);
  }
  95% {
    top: var(--header-top-size-1);
  }
}
/* nav-links hover animation */
@keyframes linkHover {
  0% {
    width: 0%;
    left: 0;
  }
  100% {
    width: 100%;
    right: 0;
  }
}
.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: var(--white);
}

.hamburger {
  display: none;
  cursor: pointer;
}
@media (max-width: 960px) {
  .hamburger {
    display: block;
  }
}

@media (max-width: 960px) {
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
.dropdown {
  cursor: pointer;
  position: relative; /* Set the position to relative */
}

.dropdown-content {
  display: block;
  position: absolute;
  left: -20px;
  top: -10px;
  z-index: -1;
  border: solid 0.3px var(--grey);
  border-top: transparent;
  background-color: var(--blackpure);
  min-width: 120px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.dropdown-content a {
  color: var(--white);
  margin-top: 4px;
  padding: 6px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
  transition: 0.3s;
}
.dropdown-content a:first-child {
  margin-top: 50px;
}
.dropdown-content a:last-child {
  margin-bottom: 10px;
}

.dropdown-content a:hover {
  color: var(--accent2);
}

.dropdown:hover .dropdown-content {
  opacity: 1; /* Set opacity to 1 on hover */
  visibility: visible; /* Make the content visible on hover */
}

@media (max-width: 960px) {
  .dropdown {
    visibility: hidden;
  }
  .dropdown-content {
    display: block;
    position: static;
    z-index: 1;
    background-color: transparent;
    border: none;
    opacity: 1;
    visibility: visible;
  }
  .dropdown-content a:first-child {
    margin: 0;
  }
}
/* Pages */
.key-data dd,
dt {
  text-align: left;
}

.project-details {
  max-width: 865px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-details-cover {
  max-width: 100%;
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow);
  margin-bottom: 40px;
}

.project-details__button-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 120px;
}
@media (max-width: 620px) {
  .project-details__button-wrapper {
    width: 100%;
    margin-bottom: 40px;
  }
}

.project-details__info-banner {
  border: 2px solid var(--text-color);
  padding: 20px;
  border-radius: 10px;
  text-transform: none;
  text-align: start;
  margin-bottom: 150px;
}
@media (max-width: 620px) {
  .project-details__info-banner {
    margin-bottom: 100px;
  }
}

.project-details__info-banner__headline {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.project-details__info-banner__text {
  line-height: 1.7;
  font-size: var(--font-size-text-big);
  color: var(--text-color);
}

.project-details__main-text {
  text-align: start;
  text-transform: none;
  line-height: 1.7;
}
.project-details__main-text h2,
.project-details__main-text h3 {
  color: var(--title-color);
  font-family: var(--font-hanson);
}
.project-details__main-text h2 {
  text-transform: uppercase;
  margin-bottom: 40px;
}
.project-details__main-text h3 {
  font-weight: bold;
  margin-bottom: 20px;
}
.project-details__main-text p {
  font-size: var(--font-size-text-big);
  margin-bottom: 80px;
  color: var(--text-color);
}

.contact-wrapper {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 1200px) {
  .contact-wrapper {
    flex-direction: column;
    row-gap: 50px;
    text-align: center;
  }
}

.contact-text {
  max-width: 600px;
  font-family: var(--font-hanson);
  font-size: var(--font-size-h1);
  color: var(--title-color);
}
@media (max-width: 620px) {
  .contact-text {
    font-size: var(--font-size-h3);
  }
}
.contact-text span {
  color: var(--accent2);
}
.contact-text em {
  font-style: normal;
  color: var(--accent);
}

.form {
  background-color: var(--background-transparent);
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.3490196078);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 10px;
  padding: 50px;
  color: var(--grey-border);
  max-width: 450px;
}

form label {
  display: block;
}

form input,
form textarea {
  height: 30px;
  width: 100%;
  margin-bottom: 50px;
  border-bottom: 1px solid var(--grey-border);
}

form textarea {
  margin-bottom: 60px;
}
form textarea:active {
  border: none;
}

.about-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
  -moz-column-gap: 50px;
       column-gap: 50px;
  margin-bottom: 200px;
}
@media (max-width: 1200px) {
  .about-wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }
}

.about-text {
  text-transform: none;
  line-height: 1.7;
  font-size: var(--font-size-text-big);
}
.about-text p {
  margin-bottom: 20px;
  color: var(--text-color);
}
.about-text span {
  color: var(--accent2);
  text-decoration: underline;
}
.about-text .ui-ux-span,
.about-text .web-dev-span {
  color: var(--accent);
}

.about-image img {
  border-radius: 20px;
  max-width: 550px;
}
@media (max-width: 620px) {
  .about-image img {
    max-width: 350px;
  }
}

/* Capabilities */
h3 {
  text-align: start;
}

#programming_languages {
  overflow-wrap: break-word;
}

.capabilities {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.capabilities .grid-left,
.capabilities .grid-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  margin: 40px 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

dt {
  font-family: var(--font-founders);
  font-size: var(--font-size-text-big);
  text-transform: none;
}

dd {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.level {
  display: flex;
  justify-content: flex-end;
}

.level .active,
.level .inactive {
  width: 40px;
  height: 6px;
  margin: 0 5px 0 0;
}

.level .active {
  background-color: var(--accent);
}

.inactive {
  background-color: var(--grey);
}

.inactive:last-of-type,
.active:last-of-type {
  margin-right: 0;
}

.level-description {
  font-size: 0.9rem;
  text-transform: none;
}

@media screen and (max-width: 960px) {
  .capabilities {
    justify-content: center;
    padding: 10px;
  }
}
@media screen and (max-width: 620px) {
  .capabilities {
    justify-content: center;
  }
  .level .active,
  .level .inactive {
    width: 38px;
    height: 6px;
  }
  dt {
    margin-right: 10px;
  }
}
.impressum p {
  text-transform: none;
  margin-bottom: 50px;
  line-height: 1.4;
  font-size: var(--font-size-text-big);
}
.impressum p:last-child {
  margin-bottom: 120px;
}
.impressum h2 {
  margin-bottom: 50px;
}

.impressum address p {
  margin: 0;
}

.impressum .contact h2 {
  margin-bottom: 20px;
}
.impressum .contact a {
  text-transform: none;
  line-height: 1.4;
  font-size: var(--font-size-text-big);
}

.impressum .contact p:last-child {
  margin-bottom: 40px;
}

.impressum .title-1 {
  padding: 0;
  text-align: left;
}

.datenschutz p {
  text-transform: none;
  margin-bottom: 50px;
  line-height: 1.4;
  font-size: var(--font-size-text-big);
}
.datenschutz p:last-child {
  margin-bottom: 120px;
}
.datenschutz h2 {
  margin-bottom: 20px;
}
.datenschutz li {
  text-transform: none;
  margin-bottom: 10px;
  margin-left: 25px;
  list-style-type: disc;
}
.datenschutz ul {
  margin: 20px 0 50px;
  line-height: 1.1;
  font-size: var(--font-size-text-big);
}

.datenschutz .title-1 {
  padding: 0;
  text-align: left;
  overflow-wrap: break-word;
}

.datenschutz #collect_informations,
.datenschutz #use_informations {
  margin-bottom: 10px;
}

.datenschutz address {
  margin: 0;
}
.datenschutz address p {
  margin: 0;
}
.datenschutz address a {
  text-transform: none;
  line-height: 1.4;
  font-size: var(--font-size-text-big);
}

/* Blocks */
.nav {
  font-family: var(--font-founders);
  z-index: 9;
  position: sticky;
  top: 0px;
  padding: 20px 0;
  border-bottom: 1px solid var(--black-border);
  background-color: var(--background-transparent);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
@media (max-width: 960px) {
  .nav {
    background-color: var(--blackpure);
    -webkit-backdrop-filter: unset;
            backdrop-filter: unset;
  }
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}

.nav-list {
  margin-left: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 15px;
  font-weight: var(--font-weight-medium);
}
.nav-list__link, .nav-list__link--active {
  color: var(--white);
}
.nav-list__link:hover {
  position: relative;
}
.nav-list__link:hover::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 100%;
  display: block;
  height: 3px;
  width: 0;
  background-color: var(--accent2);
  animation: linkHover 0.3s forwards;
}
@media (max-width: 960px) {
  .nav-list__link:hover::before {
    background-color: transparent;
  }
}
.nav-list__link--active {
  position: relative;
}
.nav-list__link--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--accent2);
}

.logo {
  transition: all 0.1s ease-in;
}
.logo:hover {
  transform: scale(1.1);
}

@media (max-width: 960px) {
  .nav-list {
    width: 100%;
    height: 100%;
    padding: 150px 0;
    font-size: 2rem;
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    text-align: center;
    transition: 0.3s;
  }
  .nav-list__item {
    margin: 16px 0;
  }
  .nav-list__item:last-of-type {
    margin-top: -40px;
  }
  .nav-list.active {
    left: 0;
  }
}
.header {
  position: relative;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 190px;
       column-gap: 190px;
  padding: 0 20px;
  min-height: 895px;
  margin-top: -100px;
}
@media (max-width: 960px) {
  .header {
    row-gap: 50px;
    padding-top: 100px;
    min-height: 590px;
  }
}
@media (max-width: 620px) {
  .header {
    min-height: 100vh;
    padding: 0 10px;
  }
}

.video-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.header__wrapper-headline {
  position: relative;
  color: var(--header-text);
}
.header__wrapper-headline em {
  font-style: normal;
  color: var(--accent2);
}
.header__wrapper-headline span {
  color: var(--accent);
}
.header__wrapper-headline p {
  font-size: 0.8rem;
  line-height: 1.5;
  margin-bottom: 30px;
  letter-spacing: 0.5px;
}
@media (max-width: 1200px) {
  .header__wrapper-headline {
    text-align: center;
  }
}

.header__wrapper-headline__title,
.header__wrapper-headline__skills {
  font-family: var(--font-hanson);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-title-headline);
  line-height: 1.1;
}
@media (max-width: 960px) {
  .header__wrapper-headline__title,
  .header__wrapper-headline__skills {
    font-size: 4.2rem;
  }
}
@media (max-width: 620px) {
  .header__wrapper-headline__title,
  .header__wrapper-headline__skills {
    font-size: 2.5rem;
  }
}

.header__wrapper-headline__title {
  margin-bottom: 10px;
}

.header__wrapper-headline__skills {
  height: 140px;
  overflow: hidden;
  margin-bottom: 30px;
}
.header__wrapper-headline__skills span {
  position: relative;
  animation: animation 15s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}
@media (max-width: 620px) {
  .header__wrapper-headline__skills {
    height: 80px;
  }
}

@media (max-width: 1200px) {
  .header__wrapper__skills-img {
    display: none;
  }
}

.section {
  padding: 100px 0;
}
@media (max-width: 620px) {
  .section {
    padding: 40px 0;
  }
}

.projects {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 960px) {
  .projects {
    flex-direction: column;
    align-items: center;
  }
}

.project {
  max-width: 370px;
  background-color: var(--project-card-bg);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-card);
  transition: transform 0.3s ease;
}
.project__img {
  border-radius: var(--border-radius-card);
}
.project:hover {
  transform: scale(1.02);
}
@media (max-width: 960px) {
  .project {
    max-width: 70%;
  }
}
@media (max-width: 620px) {
  .project {
    max-width: 100%;
  }
}

.footer {
  background-color: var(--blackpure);
  color: var(--text-color);
  padding: 60px 0 50px;
  margin-top: auto;
}
@media (max-width: 620px) {
  .footer {
    padding: 40px 0 30px;
  }
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  margin-bottom: 25px;
}

.social__item {
  transition: transform 0.3s ease;
}
.social__item:hover {
  transform: scale(1.1);
}
@media (max-width: 620px) {
  .social__item {
    width: 28px;
  }
}

.copyright {
  color: var(--white);
  text-align: center;
  text-transform: none;
}
.copyright p + p {
  margin-top: 1rem;
}/*# sourceMappingURL=main.css.map */