.key-data dd,
dt {
  text-align: left;
}
.project-details {
  max-width: 865px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.project-details-cover {
  max-width: 100%;
  border-radius: var(--border-radius-card);
  box-shadow: var(--box-shadow);
  margin-bottom: 40px;
}

.project-details__button-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 120px;

  @media (max-width: 620px) {
    width: 100%;
    margin-bottom: 40px;
  }
}

.project-details__info-banner {
  border: 2px solid var(--text-color);
  padding: 20px;
  border-radius: 10px;
  text-transform: none;
  text-align: start;
  margin-bottom: 150px;

  @media (max-width: 620px) {
    margin-bottom: 100px;
  }
}

.project-details__info-banner__headline {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

.project-details__info-banner__text {
  line-height: 1.7;
  font-size: var(--font-size-text-big);
  color: var(--text-color);
}

.project-details__main-text {
  text-align: start;
  text-transform: none;
  line-height: 1.7;

  h2,
  h3 {
    color: var(--title-color);
    font-family: var(--font-hanson);
  }

  h2 {
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  h3 {
    font-weight: bold;
    margin-bottom: 20px;
  }

  p {
    font-size: var(--font-size-text-big);
    margin-bottom: 80px;
    color: var(--text-color);
  }
}
