/* header Animation */
@keyframes animation {
  0%,
  100% {
    top: 0;
  }
  20% {
    top: 0;
  }
  25% {
    top: var(--header-top-size-1);
  }
  45% {
    top: var(--header-top-size-1);
  }
  50% {
    top: 0;
  }
  70% {
    top: 0;
  }
  75% {
    top: var(--header-top-size-1);
  }
  95% {
    top: var(--header-top-size-1);
  }
}

/* nav-links hover animation */
@keyframes linkHover {
  0% {
    width: 0%;
    left: 0;
  }
  100% {
    width: 100%;
    right: 0;
  }
}
