@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Poppins:wght@400;500;700&display=swap');

@font-face {
    font-family: 'Hanson';
    src: url('/fonts/Hanson-Bold.ttf') format('truetype'); /* Pfade anpassen */
    /* Weitere Definitionen wie font-weight, font-style etc. */
  }

  @font-face {
    font-family: 'FoundersGrotesk';
    src: url('/fonts/FoundersGrotesk-Regular.otf') format('opentype'); /* Pfade anpassen */
    /* Weitere Definitionen wie font-weight, font-style etc. */
  }



