html,
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  letter-spacing: -0.5px;
  color: var(--text-color);
  text-transform: uppercase;
  font-family: var(--font-founders), sans-serif;
}

body {
  background-color: var(--page-bg);
}

.section {
  padding: 100px 0;

  @media (max-width: 620px) {
    padding: 40px 0;
  }
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  color: var(--text-color);
}

.none {
  display: none !important;
}

.title-1,
.title-2,
.title-3 {
  font-family: var(--font-hanson);
  color: var(--title-color);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  line-height: 1.3;
}

.title-1 {
  font-size: var(--font-size-h1);
  text-align: start;
  margin-bottom: 60px;

  @media (max-width: 1200px) {
    text-align: center;
  }

  @media (max-width: 960px) {
    font-size: var(--font-size-h2);
    padding: 0 20px;
  }

  @media (max-width: 620px) {
    margin-bottom: 30px;
    font-size: var(--font-size-h3);
  }
}

.title-2 {
  font-size: var(--font-size-h2);
  margin-bottom: 30px;

  @media (max-width: 620px) {
    font-size: var(--font-size-h3);
  }
}

.title-3 {
  font-size: var(--font-size-h3);
  margin-bottom: 20px;

  @media (max-width: 620px) {
    font-size: var(--font-size-h4);
  }
}
